<html>

<head>
    <title>SQL 처리 페이지</title>
</head>

<body>
    <h1>SQL 처리 페이지</h1>
    <form action="/dbsql" method="POST>
        <h2>데이터베이스 이름</h2>
        <span> <input type="text" name="db_name" placeholder="ex)name.db"> </span>

        <h2>SQL (명령어 한 줄만 가능)</h2>
        <textarea name="sql" cols="40" rows="10" placeholder="ex) SELECT * FROM table_name"></textarea>
        <br>
        {% if label %}
            <span class="result_lable">
                {% block content %}
                {{ label }}
                {% endblock %}
            </span>
        <br>
        {% endif %}


        <button type="submit">SQL 전송</button>

    </form>
</body>

</html>
